@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #ed7137;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

a:hover {
  color: var(--color1);
}



main {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 80vh;
}

#app {
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

